# Custom
*.code-workspace
*.ps1
*.pNotes

webSite.branch/
wiki.branch/
compiled/

# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
